@page
@model IndexModel
@{
    ViewData["Title"] = "IT Future - Выкторины для всех";
}

<div class="text-center">
    <div class="img-container">
        <img class = "img" src = "ItFuture/wwwroot/images/ITFuture.png">
    </div>

</div>
